@model IEnumerable<Field>
@{
    ViewData["Titled"] = "Lista Kierunków";
}

<table>
    <thead>
        <tr>
            >
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var field in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => field.Name);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => field.Department);
                </td>

            </tr>
        }
    </tbody>
</table>
