@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Witamy w kręgielni</h1>
    <h2 class=" display-4">Przejdź do zakładki rezerwacja aby zarezerwowac</h2>
    <img class="rounded" src="~/images/kregielnia.jpg" style="height:35rem; width:75rem; display:flex; align-items:end; justify-items:end; " />
</div>
