@*

*@
@{
    ViewData["Title"] = "Godziny Otwarcia";
}

<div class="text-center">
    <h1 class="display-3"> Godziny otwarcia Kregielni: </h1>

    <div style="margin-top: 50px;">
        <span style=" font-size:x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ">Poniedziałek: </span>
        <span style="font-size: x-large">15:00-22:00</span>
        <br style="margin:20px;" />
        <span style=" font-size:x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ">Wtorek: </span>
        <span style="font-size: x-large">15:00-22:00</span>
        <br style="margin:20px;" />
        <span style=" font-size:x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ">Środa: </span>
        <span style="font-size: x-large">15:00-22:00</span>
        <br style="margin:20px;" />
        <span style=" font-size:x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ">Czwartek: </span>
        <span style="font-size: x-large">15:00-22:00</span>
        <br style="margin:20px;" />
        <span style=" font-size:x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ">Piątek: </span>
        <span style="font-size: x-large">15:00-24:00</span>
        <br style="margin:20px;" />
        <span style=" font-size:x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ">Sobota: </span>
        <span style="font-size: x-large">12:00-24:00</span>
        <br style="margin:20px;" />
        <span style=" font-size:x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ">Niedziela: </span>
        <span style="font-size: x-large">13:00-22:00</span>
    </div>
    <h1 class="display-2" style="margin-top: 350px"> Zapraszamy!!! </h1>
</div>
<a asp-action="Index">Powrót</a>