@model School.Models.Grade

@{
    ViewData["Title"] = "UpdatingGrade";
}
<h1>Modyfikuj Ocene</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateGrade">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label">Student Id</label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CourseId" class="control-label">Kurs</label>
                <input asp-for="CourseId" class="form-control" />
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mark" class="control-label">Ocena</label>
                <input asp-for="Mark" class="form-control" />
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modyfikuj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<a asp-action="AllGrades">Powrót</a>
